catalog.haml
/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_search.kit'
      
%section.content 

  %ul.b_bread
    %li <a href=''>Главная</a>
    %li <a href=''>Связь и телефония</a>
    %li Мобильные телефоны

  %h2.b_label Мобильные телефоны

  %ul.b_other
    %li <a href=''>Apple</a>
    %li <a href=''>Fly</a>
    %li <a href=''>LG</a>
    %li <a href=''>Philips</a>
    %li <a href=''>Sony Ericsson</a>

  %ul.b_order
    %li Сотировать по:
    %li <a href=''><span>цене</span></a>
    %li <a class="active down" href=''><span>популярности</span></a>
    %li <a href=''><span>названию</span></a>

  %ul.b_pagination
    %li <a href=''><<</a>
    %li <a href=''>1</a>,
    %li <a href=''>2</a>,
    %li <a href=''>3</a>,
    %li <a href=''>4</a>,
    %li <a href=''>5</a>
    %li ...
    %li <a href=''>25</a>
    %li <a href=''>>></a>

  .clear 

  / @include 'kit/b_catalog_elem.kit'
  / @include 'kit/b_catalog_elem.kit'
  / @include 'kit/b_catalog_elem.kit'
  / @include 'kit/b_catalog_elem.kit'

  %ul.b_order
    %li Сотировать по:
    %li <a href=''><span>цене</span></a>
    %li <a class="active down" href=''><span>популярности</span></a>
    %li <a href=''><span>названию</span></a>

  %ul.b_pagination
    %li <a href=''><<</a>
    %li <a href=''>1</a>,
    %li <a href=''>2</a>,
    %li <a href=''>3</a>,
    %li <a href=''>4</a>,
    %li <a href=''>5</a>
    %li ...
    %li <a href=''>25</a>
    %li <a href=''>>></a>

  .clear

  .b_index_text.m_delivery
    %img{:src => "i/services_02.png"} 
    %p Мобильные телефоны Fly – замечательный пример современной глобализации. Производятся телефоны путем объединения усилий трех компаний из разных стран. Fly – это детище английской фирмы Sendo, корейской Sewon и китайской Bird. Сама торговая марка принадлежит известной компании Meridian Group.
    %p 
      Особенности 
      %br 
      &minus; доступная стоимость всех моделей;
      %br 
      &minus; современный узнаваемый дизайн, компактные размеры;
      %br 
      &minus; простой интерфейс, в котором легко сможет разобраться и школьник, и пенсионер, и тем более продвинутый пользователь;
      %br 
      &minus; достаточно высокое качество для данного ценового сегмента;
      %br 
      &minus; гарантия производителя 1 год.

    %p Мобильные телефоны Fly охватывают три направления технологий и функционала:
    %p 
      &minus; Гаджеты для тех, кто использует аппарат только для звонков и смс (например, модели Fly DS 103-113).
      %br 
      &minus; Мультимедийные устройства  (ориентированные на молодых пользователей), например, модели Fly E141 TV Black c большим дисплеем, возможностью просматривать TV-передачи, прослушивать mp3 и радио. Fly E154 Silver приведет в восторг поклонников соцсетей, ведь этот телефон дает быстрый доступ к любимым ресурсам, а также музыке и видеофайлам.
      %br 
      &minus; Престижные аппараты для бизнесменов, оснащенные всеми необходимыми для ведения бизнеса опциями – настоящие мобильные офисы.  К примеру, телефоны серии IQ, которые представляют собой стильные смартфоны с множеством полезных приложений. Некоторые модели способны поддерживать одновременную работу 2 симкарт, имеют хорошую камеру (5 Мпикс), а объем памяти за счет

.clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'

catalog.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta content="width=device-width" name="viewport">
  <link href="application.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>
<body>
  <div class="bg">
    <div class="wrapper"><header>
  <a href="" class="logo"></a>
  <ul class="links">
    <li><a href="">Доставка и оплата</a></li>
    <li><a href="">Гарантия</a></li>
    <li><a href="">Контакты</a></li>
  </ul>
  <ul class="phones">
    <li><small>(499)</small> 272 30 33</li>
    <li><small>(495)</small> 979 10 90</li>
  </ul>
  <ul class="e_contacts">
    <li>oviro.support</li>
    <li>586 213 656</li>
    <li>phone@oviro.ru</li>
  </ul>
  <ul class="e_contacts w">
    <li>Заказать обратный звонок</li>
    <li>Пн-Вс: 8:00-20:00</li>
  </ul>
  <div class="search">
    <input type="submit" value="" />
    <input type="text" />
  </div>
  <div class="shopping">
    <label>Моя корзина:</label>
    <p>
      Товаров <a href="">2</a>, сумма <a href="">25 000</a>
      <br />
      В сравнении <a href="">0</a> товаров
    </p>
  </div>
</header><aside>
  <div class='b_rst'>
  <img alt='' src='i/rst.png'>
  Весь товар сертифицирован
</div>  <div class="b_search">
  <div class="field">
    <ul class="selector">
      <li class="active"><a href="">Все</a></li>
      <li><a href="">Бюджетный</a></li>
      <li><a href="">Имиджевый</a></li>
      <li><a href="">Сенсорный</a></li>
      <li><a href="">Женский</a></li>
      <li><a href="">Неубиваемый</a></li>
      <li><a href="">Камерофон</a></li>
    </ul>
  </div>
  <div class="field">
    <label class="h">Выбор по цене:</label>
  </div>
  <div class="field">
    <label class="h"><i></i> Производитель:</label>
    <div class="content">
      <label for=""><input type="checkbox"> Apple (55)</label>
      <label for=""><input type="checkbox"> Fly (44)</label>
      <label for=""><input type="checkbox"> LG (44)</label>
      <label for=""><input type="checkbox"> Philips (44)</label>
      <label for=""><input type="checkbox"> Sony Ericsson (24)</label>
    </div>
  </div>
  <div class="field">
    <label class="h"><i></i> Тип:</label>
    <div class="content">
      <label for=""><input type="checkbox"> Коммуникатор (75)</label>
      <label for=""><input type="checkbox"> Телефон (65)</label>
    </div>
  </div>
  <div class="field">
    <label class="h"><i></i> Тип корпуса:</label>
    <div class="content">
      <label for=""><input type="checkbox"> Моноблок (75)</label>
      <label for=""><input type="checkbox"> Слайдер (65)</label>
      <label for=""><input type="checkbox"> Раскладушка (65)</label>
      <label for=""><input type="checkbox"> Часы (5)</label>
    </div>
  </div>
  <div class="field">
    <label class="h"><i></i> Сенсорный экран:</label>
    <div class="content">
      <label for=""><input type="checkbox"> Резистивный (13)</label>
      <label for=""><input type="checkbox"> Ёмкостной (31)</label>
      <label for=""><input type="checkbox"> Нет (22)</label>
    </div>
  </div>
  <div class="field">
    <label class="h"><i></i> Операционная система:</label>
    <div class="content">
      <label for=""><input type="checkbox"> Android (131)</label>
      <label for=""><input type="checkbox"> Bada (3)</label>
      <label for=""><input type="checkbox"> iOS (22)</label>
    </div>
  </div>
  <div class="field">
    <label class="h"><i></i> Разрешение фотокамеры:</label>
    <div class="content">
      <label for=""><input type="checkbox"> 0.3 Мп (23)</label>
      <label for=""><input type="checkbox"> 1.3 Мп (31)</label>
      <label for=""><input type="checkbox"> 2.0 Мп (22)</label>
    </div>
  </div>
  <div class="field">
    <label class="h"><i></i> Особенности:</label>
    <div class="content">
      <label for=""><input type="checkbox"> 2 SIM (15)</label>
      <label for=""><input type="checkbox"> 3 SIM (3)</label>
      <label for=""><input type="checkbox"> GPS-модуль (24)</label>
      <label for=""><input type="checkbox"> 3G (24)</label>
      <label for=""><input type="checkbox"> QWERTY-клавиатура (14)</label>
      <label for=""><input type="checkbox"> FM радио (44)</label>
      <label for=""><input type="checkbox"> Bluetooth (64)</label>
      <label for=""><input type="checkbox"> USB (74)</label>
      <label for=""><input type="checkbox"> Wi-Fi (44)</label>
      <label for=""><input type="checkbox"> Диктофон (23)</label>
    </div>
  </div>
  <div class="field">
    <label class="h"><i></i> Цвет:</label>
    <div class="content">
      <label for=""><input type="checkbox"> Черный (15)</label>
      <label for=""><input type="checkbox"> Синий (24)</label>
      <label for=""><input type="checkbox"> Красный (14)</label>
    </div>
  </div>
</div></aside>
<section class='content'>
  <ul class='b_bread'>
    <li><a href=''>Главная</a></li>
    <li><a href=''>Связь и телефония</a></li>
    <li>Мобильные телефоны</li>
  </ul>
  <h2 class='b_label'>Мобильные телефоны</h2>
  <ul class='b_other'>
    <li><a href=''>Apple</a></li>
    <li><a href=''>Fly</a></li>
    <li><a href=''>LG</a></li>
    <li><a href=''>Philips</a></li>
    <li><a href=''>Sony Ericsson</a></li>
  </ul>
  <ul class='b_order'>
    <li>Сотировать по:</li>
    <li><a href=''><span>цене</span></a></li>
    <li><a class="active down" href=''><span>популярности</span></a></li>
    <li><a href=''><span>названию</span></a></li>
  </ul>
  <ul class='b_pagination'>
    <li><a href=''><<</a></li>
    <li><a href=''>1</a>,</li>
    <li><a href=''>2</a>,</li>
    <li><a href=''>3</a>,</li>
    <li><a href=''>4</a>,</li>
    <li><a href=''>5</a></li>
    <li>...</li>
    <li><a href=''>25</a></li>
    <li><a href=''>>></a></li>
  </ul>
  <div class='clear'></div>
  <div class="b_catalog_elem">
  <div class="left">
    <div class="img"><img src="i/catalog_big.png" alt="" /></div>
    <div class="data">
      <h4><a href="">Sony LT26w Xperia acro S White</a></h4>
      <p>GSM 900/1800/1900, ... 66x126x11.9 мм 147 гр. моноблок Android 4.0</p>
      <ul>
        <li><a href="">отзывы</a></li>
        <li><a href="">характеристики</a></li>
        <li><a href="">аксессуары</a></li>
      </ul>
    </div>
  </div>
  <div class="right">
    <p class="throw">13 500 р.</p>
    <p class="price">12 990 р.</p>
    <div class="compare"><a href="">Добавить в сравнение</a></div>
    <div class="availability">
      <span class="ok"></span>
      <label>В наличии</label>
      <div class="line">
        <i class="act"></i>
        <i class="act"></i>
        <i class="act"></i>
        <i></i>
        <i></i>
      </div>
    </div>
    <div class="to_market"><a href="" class="btn"><span></span>В корзину</a></div>
  </div>
</div>  <div class="b_catalog_elem">
  <div class="left">
    <div class="img"><img src="i/catalog_big.png" alt="" /></div>
    <div class="data">
      <h4><a href="">Sony LT26w Xperia acro S White</a></h4>
      <p>GSM 900/1800/1900, ... 66x126x11.9 мм 147 гр. моноблок Android 4.0</p>
      <ul>
        <li><a href="">отзывы</a></li>
        <li><a href="">характеристики</a></li>
        <li><a href="">аксессуары</a></li>
      </ul>
    </div>
  </div>
  <div class="right">
    <p class="throw">13 500 р.</p>
    <p class="price">12 990 р.</p>
    <div class="compare"><a href="">Добавить в сравнение</a></div>
    <div class="availability">
      <span class="ok"></span>
      <label>В наличии</label>
      <div class="line">
        <i class="act"></i>
        <i class="act"></i>
        <i class="act"></i>
        <i></i>
        <i></i>
      </div>
    </div>
    <div class="to_market"><a href="" class="btn"><span></span>В корзину</a></div>
  </div>
</div>  <div class="b_catalog_elem">
  <div class="left">
    <div class="img"><img src="i/catalog_big.png" alt="" /></div>
    <div class="data">
      <h4><a href="">Sony LT26w Xperia acro S White</a></h4>
      <p>GSM 900/1800/1900, ... 66x126x11.9 мм 147 гр. моноблок Android 4.0</p>
      <ul>
        <li><a href="">отзывы</a></li>
        <li><a href="">характеристики</a></li>
        <li><a href="">аксессуары</a></li>
      </ul>
    </div>
  </div>
  <div class="right">
    <p class="throw">13 500 р.</p>
    <p class="price">12 990 р.</p>
    <div class="compare"><a href="">Добавить в сравнение</a></div>
    <div class="availability">
      <span class="ok"></span>
      <label>В наличии</label>
      <div class="line">
        <i class="act"></i>
        <i class="act"></i>
        <i class="act"></i>
        <i></i>
        <i></i>
      </div>
    </div>
    <div class="to_market"><a href="" class="btn"><span></span>В корзину</a></div>
  </div>
</div>  <div class="b_catalog_elem">
  <div class="left">
    <div class="img"><img src="i/catalog_big.png" alt="" /></div>
    <div class="data">
      <h4><a href="">Sony LT26w Xperia acro S White</a></h4>
      <p>GSM 900/1800/1900, ... 66x126x11.9 мм 147 гр. моноблок Android 4.0</p>
      <ul>
        <li><a href="">отзывы</a></li>
        <li><a href="">характеристики</a></li>
        <li><a href="">аксессуары</a></li>
      </ul>
    </div>
  </div>
  <div class="right">
    <p class="throw">13 500 р.</p>
    <p class="price">12 990 р.</p>
    <div class="compare"><a href="">Добавить в сравнение</a></div>
    <div class="availability">
      <span class="ok"></span>
      <label>В наличии</label>
      <div class="line">
        <i class="act"></i>
        <i class="act"></i>
        <i class="act"></i>
        <i></i>
        <i></i>
      </div>
    </div>
    <div class="to_market"><a href="" class="btn"><span></span>В корзину</a></div>
  </div>
</div>  <ul class='b_order'>
    <li>Сотировать по:</li>
    <li><a href=''><span>цене</span></a></li>
    <li><a class="active down" href=''><span>популярности</span></a></li>
    <li><a href=''><span>названию</span></a></li>
  </ul>
  <ul class='b_pagination'>
    <li><a href=''><<</a></li>
    <li><a href=''>1</a>,</li>
    <li><a href=''>2</a>,</li>
    <li><a href=''>3</a>,</li>
    <li><a href=''>4</a>,</li>
    <li><a href=''>5</a></li>
    <li>...</li>
    <li><a href=''>25</a></li>
    <li><a href=''>>></a></li>
  </ul>
  <div class='clear'></div>
  <div class='b_index_text m_delivery'>
    <img src='i/services_02.png'>
    <p>Мобильные телефоны Fly – замечательный пример современной глобализации. Производятся телефоны путем объединения усилий трех компаний из разных стран. Fly – это детище английской фирмы Sendo, корейской Sewon и китайской Bird. Сама торговая марка принадлежит известной компании Meridian Group.</p>
    <p>
      Особенности
      <br>
      &minus; доступная стоимость всех моделей;
      <br>
      &minus; современный узнаваемый дизайн, компактные размеры;
      <br>
      &minus; простой интерфейс, в котором легко сможет разобраться и школьник, и пенсионер, и тем более продвинутый пользователь;
      <br>
      &minus; достаточно высокое качество для данного ценового сегмента;
      <br>
      &minus; гарантия производителя 1 год.
    </p>
    <p>Мобильные телефоны Fly охватывают три направления технологий и функционала:</p>
    <p>
      &minus; Гаджеты для тех, кто использует аппарат только для звонков и смс (например, модели Fly DS 103-113).
      <br>
      &minus; Мультимедийные устройства  (ориентированные на молодых пользователей), например, модели Fly E141 TV Black c большим дисплеем, возможностью просматривать TV-передачи, прослушивать mp3 и радио. Fly E154 Silver приведет в восторг поклонников соцсетей, ведь этот телефон дает быстрый доступ к любимым ресурсам, а также музыке и видеофайлам.
      <br>
      &minus; Престижные аппараты для бизнесменов, оснащенные всеми необходимыми для ведения бизнеса опциями – настоящие мобильные офисы.  К примеру, телефоны серии IQ, которые представляют собой стильные смартфоны с множеством полезных приложений. Некоторые модели способны поддерживать одновременную работу 2 симкарт, имеют хорошую камеру (5 Мпикс), а объем памяти за счет
    </p>
  </div>
</section>
<div class='clear'></div>
<footer>
  <ul>
    <li><a href="">Связь и телефония</a></li>
    <li><a href="">Мобильные телефоны</a></li>
    <li><a href="">Радиотелефоны</a></li>
    <li><a href="">Радиостанции</a></li>
    <li><a href="">Аксессуары для сотовых телефонов</a></li>
  </ul>
  <ul>
    <li><a href="">Аудио, видео, фото</a></li>
    <li><a href="">Цифровые фотокамеры</a></li>
    <li><a href="">Электронные книги</a></li>
    <li><a href="">Наушники</a></li>
  </ul>
  <ul>
    <li><a href="">Товары для автомобиля</a></li>
    <li><a href="">Автомобильные видеорегистраторы</a></li>
    <li><a href="">GPS-навигаторы</a></li>
    <li><a href="">Радар-детекторы</a></li>
  </ul>
  <ul>
    <li><a href="">Компьютеры</a></li>
    <li><a href="">Планшетные компьютеры</a></li>
    <li><a href="">USB Flash drive</a></li>
    <li><a href="">Жесткие диски</a></li>
  </ul>
  <ul>
    <li><a href="">Доставка и оплата</a></li>
    <li><a href="">Гарантия</a></li>
    <li><a href="">Контакты</a></li>
    <li class="phone">(499) 272 30 33</li>
    <li class="phone">(495) 979 10 90</li>
  </ul>
  <ol class="copyright">
    <li>&copy; 2004—2012 oviro.ru</li>
    <li>e-mail: <a href="">shop@oviro.ru</a></li>
    <li><a href="">Карта сайта</a></li>
  </ol>
</footer>    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/vendor/jquery.maskedinput.min.js"></script>
  <script src="js/vendor/fotorama.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
