delivery.haml
/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_banner.kit'
  / @include 'kit/b_ltl_news.kit'
      
%section.content 

  %h2.b_label.m_image 
    %img{:src => "i/delivery.png", :alt => "", :style => "vertical-align: -15px;"} 
    Доставка и оплата

  .b_index_text.m_delivery
    %p Обсудить вопросы доставки можно по телефонам: 
    %p 
      %big 8(499)272-30-33
      %br 
      %big 8(495)979-10-90
      %br 
      %big ICQ 586-213-656
      %br 
    %p После оформления заказа оператор свяжется с Вами для уточнения деталей, удобного времени и адреса доставки. Товары будут привезены по указанному адресу в офис или на дом. Дополнительно представитель нашей курьерской службы свяжется с Вами и подтвердит время доставки. Собственная курьерская служба Oviro.ru – гарантия того, что вы получите цифровую технику своевременно, в полной комплектации и останетесь довольны нашим сервисом.
    %h4 Режим работы:
    %p 
      Каждый день:  
      %big с 8:00 до 20:00
    %p Вы можете сделать заказ в удобное для Вас время, а оператор обработает заявку в рабочие часы.
    %p Курьерская служба Oviro работает по графику: 
    %p 
      Понедельник-пятница:  
      %big с 11:00 до 20:00
    %p Заказы, сделанные в выходные, доставляются в будние дни. 
    %h4 Стоимость доставки: 
    %p По Москве в пределах МКАД - от 0 до 250 руб.
    %p По Москве за МКАД - 350 руб.
    %p По области за МКАД не далее 10 км. - от 500 руб. 

    %h4 Условия оплаты:
    %p.orange - Наличные (физические лица): 
    %p Принимаем оплату в рублях. В течение 2 дней с момента оформления заказа стоимость товаров остается неизменной, если вы производите оплату позже этого срока, то итоговая сумма может измениться, об этом Ваш личный менеджер Oviro.ru обязательно предупредит. Каждый покупатель при оплате заказа получает документы, подтверждающие приобретение товара: товарный и кассовые чеки.
    %p.orange - Безналичный расчет (юридические лица): 
    %p Возможна оплата по безналу. К сумме заказа приплюсовываются 3%. Предварительно менеджер Oviro.ru согласует с Вами оптимальный способ перечисления денег, после чего выписывается счет. Все зарезервированные товары откладываются на 3 банковских дня. Как только оплата поступит на наш счет, товар отпускается заказчику. При этом для получения заказа покупатель (представитель покупателя) предоставляет оригинал доверенности, выписанной уполномоченным лицом организации-плательщика, в которой указываются получаемые материальные ценности. Существует и альтернативный вариант: получатель заверяет наш экземпляр товарно-транспортной накладной «круглой» печатью организации-плательщика. Вместе с заказом покупатель получает сопроводительные документы: накладную (по форме ТОРГ-12), счет-фактуру, а также оригинал счета. 
    %p Приятных покупок в Oviro.ru!

.clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'

delivery.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta content="width=device-width" name="viewport">
  <link href="application.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>
<body>
  <div class="bg">
    <div class="wrapper"><header>
  <a href="" class="logo"></a>
  <ul class="links">
    <li><a href="">Доставка и оплата</a></li>
    <li><a href="">Гарантия</a></li>
    <li><a href="">Контакты</a></li>
  </ul>
  <ul class="phones">
    <li><small>(499)</small> 272 30 33</li>
    <li><small>(495)</small> 979 10 90</li>
  </ul>
  <ul class="e_contacts">
    <li>oviro.support</li>
    <li>586 213 656</li>
    <li>phone@oviro.ru</li>
  </ul>
  <ul class="e_contacts w">
    <li>Заказать обратный звонок</li>
    <li>Пн-Вс: 8:00-20:00</li>
  </ul>
  <div class="search">
    <input type="submit" value="" />
    <input type="text" />
  </div>
  <div class="shopping">
    <label>Моя корзина:</label>
    <p>
      Товаров <a href="">2</a>, сумма <a href="">25 000</a>
      <br />
      В сравнении <a href="">0</a> товаров
    </p>
  </div>
</header><aside>
  <div class='b_rst'>
  <img alt='' src='i/rst.png'>
  Весь товар сертифицирован
</div>  <div class='b_banner'>
  <a href=''>
    <img alt='' src='i/banner.png'>
  </a>
</div>  <div class='b_ltl_news'>
  <label>Новости:</label>
  <ul>
    <li>
      <img alt='' src='i/ltl_news_el.png'>
<div class='data'>
  <p class='date'>15.02.2013</p>
  <h5>
    <a href=''>Nokia Lumia 520  — молодежная и доступная</a>
  </h5>
  <p>При знакомстве со cмартфоном сразу становится понятно, что ...</p>
</div>    </li>
    <li>
      <img alt='' src='i/ltl_news_el.png'>
<div class='data'>
  <p class='date'>15.02.2013</p>
  <h5>
    <a href=''>Nokia Lumia 520  — молодежная и доступная</a>
  </h5>
  <p>При знакомстве со cмартфоном сразу становится понятно, что ...</p>
</div>    </li>
    <li>
      <img alt='' src='i/ltl_news_el.png'>
<div class='data'>
  <p class='date'>15.02.2013</p>
  <h5>
    <a href=''>Nokia Lumia 520  — молодежная и доступная</a>
  </h5>
  <p>При знакомстве со cмартфоном сразу становится понятно, что ...</p>
</div>    </li>
  </ul>
  <p class='all'>
    <a href=''>Все новости >></a>
  </p>
</div></aside>
<section class='content'>
  <h2 class='b_label m_image'>
    <img alt='' src='i/delivery.png' style='vertical-align: -15px;'>
    Доставка и оплата
  </h2>
  <div class='b_index_text m_delivery'>
    <p>Обсудить вопросы доставки можно по телефонам:</p>
    <p>
      <big>8(499)272-30-33</big>
      <br>
      <big>8(495)979-10-90</big>
      <br>
      <big>ICQ 586-213-656</big>
      <br>
    </p>
    <p>После оформления заказа оператор свяжется с Вами для уточнения деталей, удобного времени и адреса доставки. Товары будут привезены по указанному адресу в офис или на дом. Дополнительно представитель нашей курьерской службы свяжется с Вами и подтвердит время доставки. Собственная курьерская служба Oviro.ru – гарантия того, что вы получите цифровую технику своевременно, в полной комплектации и останетесь довольны нашим сервисом.</p>
    <h4>Режим работы:</h4>
    <p>
      Каждый день:
      <big>с 8:00 до 20:00</big>
    </p>
    <p>Вы можете сделать заказ в удобное для Вас время, а оператор обработает заявку в рабочие часы.</p>
    <p>Курьерская служба Oviro работает по графику:</p>
    <p>
      Понедельник-пятница:
      <big>с 11:00 до 20:00</big>
    </p>
    <p>Заказы, сделанные в выходные, доставляются в будние дни.</p>
    <h4>Стоимость доставки:</h4>
    <p>По Москве в пределах МКАД - от 0 до 250 руб.</p>
    <p>По Москве за МКАД - 350 руб.</p>
    <p>По области за МКАД не далее 10 км. - от 500 руб.</p>
    <h4>Условия оплаты:</h4>
    <p class='orange'>- Наличные (физические лица):</p>
    <p>Принимаем оплату в рублях. В течение 2 дней с момента оформления заказа стоимость товаров остается неизменной, если вы производите оплату позже этого срока, то итоговая сумма может измениться, об этом Ваш личный менеджер Oviro.ru обязательно предупредит. Каждый покупатель при оплате заказа получает документы, подтверждающие приобретение товара: товарный и кассовые чеки.</p>
    <p class='orange'>- Безналичный расчет (юридические лица):</p>
    <p>Возможна оплата по безналу. К сумме заказа приплюсовываются 3%. Предварительно менеджер Oviro.ru согласует с Вами оптимальный способ перечисления денег, после чего выписывается счет. Все зарезервированные товары откладываются на 3 банковских дня. Как только оплата поступит на наш счет, товар отпускается заказчику. При этом для получения заказа покупатель (представитель покупателя) предоставляет оригинал доверенности, выписанной уполномоченным лицом организации-плательщика, в которой указываются получаемые материальные ценности. Существует и альтернативный вариант: получатель заверяет наш экземпляр товарно-транспортной накладной «круглой» печатью организации-плательщика. Вместе с заказом покупатель получает сопроводительные документы: накладную (по форме ТОРГ-12), счет-фактуру, а также оригинал счета.</p>
    <p>Приятных покупок в Oviro.ru!</p>
  </div>
</section>
<div class='clear'></div>
<footer>
  <ul>
    <li><a href="">Связь и телефония</a></li>
    <li><a href="">Мобильные телефоны</a></li>
    <li><a href="">Радиотелефоны</a></li>
    <li><a href="">Радиостанции</a></li>
    <li><a href="">Аксессуары для сотовых телефонов</a></li>
  </ul>
  <ul>
    <li><a href="">Аудио, видео, фото</a></li>
    <li><a href="">Цифровые фотокамеры</a></li>
    <li><a href="">Электронные книги</a></li>
    <li><a href="">Наушники</a></li>
  </ul>
  <ul>
    <li><a href="">Товары для автомобиля</a></li>
    <li><a href="">Автомобильные видеорегистраторы</a></li>
    <li><a href="">GPS-навигаторы</a></li>
    <li><a href="">Радар-детекторы</a></li>
  </ul>
  <ul>
    <li><a href="">Компьютеры</a></li>
    <li><a href="">Планшетные компьютеры</a></li>
    <li><a href="">USB Flash drive</a></li>
    <li><a href="">Жесткие диски</a></li>
  </ul>
  <ul>
    <li><a href="">Доставка и оплата</a></li>
    <li><a href="">Гарантия</a></li>
    <li><a href="">Контакты</a></li>
    <li class="phone">(499) 272 30 33</li>
    <li class="phone">(495) 979 10 90</li>
  </ul>
  <ol class="copyright">
    <li>&copy; 2004—2012 oviro.ru</li>
    <li>e-mail: <a href="">shop@oviro.ru</a></li>
    <li><a href="">Карта сайта</a></li>
  </ol>
</footer>    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/vendor/jquery.maskedinput.min.js"></script>
  <script src="js/vendor/fotorama.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
