market.haml
/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_banner.kit'
  / @include 'kit/b_ltl_news.kit'
      
%section.content 

  %h2.b_label.m_image 
    %img{:src => "i/market.lbl.png", :alt => "", :style => "vertical-align: -15px;"} 
    Корзина заказов (4)

  / @include 'kit/b_market_table.kit'

  /.b_sum.line
  .b_sum
    .count 90 930 р.
    %label Сумма заказа:
    .clear 
    %input{:type => "image", :src => "i/ord.png"} 
    .clear 
    .back 
      %a{:href => ""} Вернуться в каталог

  .b_form_order 
    .label Форма оформления заказа
    .field 
      %label Заказчик:
      .input
        %input{:type => "checkbox", :name => ""} Физическое лицо
        %input{:type => "checkbox", :name => ""} Юридическое лицо
    .field 
      %label ФИО:
      .input
        %input{:type => "text"} 
    .field 
      %label Адрес доставки:
      .input
        %textarea
    .field 
      %label Email:
      .input
        %input{:type => "text"} 
    .field 
      %label Ближайшее метро:
      .input
        %select 
          %option{:value => ""} Авиамоторная
          %option{:value => ""} Другая
    .field 
      %label Желательная дата доставки:
      .input
        %input{:type => "text"} 
    .field 
      %label Телефон:
      .input
        +7 <input type="text" id="phone_mask">
    .field.mb 
      %label Комментарии:
      .input
        %textarea
    .field 
      %label Организация:
      .input
        %input{:type => "text"} 
    .field 
      %label ИНН/КПП:
      .input
        %input{:type => "text"} 
    .field 
      %label Юридический адрес:
      .input
        %input{:type => "text"} 
    .field 
      %label Название банка:
      .input
        %input{:type => "text"} 
    .field 
      %label БИК банка:
      .input
        %input{:type => "text"}
    .field 
      %label Рассчетный счет:
      .input
        %input{:type => "text"}
    .field 
      %label Корреспондентский счет:
      .input
        %input{:type => "text"}
    .field.btns
      %input{:type => "submit", :value => "Оформить"} 
      %p 
        %a{:href => ""} Вернуться в каталог

  .b_buy_with_this
    %label С этими товаром покупают:
    %ul 
      / @include 'kit/b_buy_with_this_elem.kit'
      / @include 'kit/b_buy_with_this_elem.kit'
      / @include 'kit/b_buy_with_this_elem.kit'
      / @include 'kit/b_buy_with_this_elem.kit'

.clear

/ @include 'kit/b_popup.kit'

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'

market.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta content="width=device-width" name="viewport">
  <link href="application.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>
<body>
  <div class="bg">
    <div class="wrapper"><header>
  <a href="" class="logo"></a>
  <ul class="links">
    <li><a href="">Доставка и оплата</a></li>
    <li><a href="">Гарантия</a></li>
    <li><a href="">Контакты</a></li>
  </ul>
  <ul class="phones">
    <li><small>(499)</small> 272 30 33</li>
    <li><small>(495)</small> 979 10 90</li>
  </ul>
  <ul class="e_contacts">
    <li>oviro.support</li>
    <li>586 213 656</li>
    <li>phone@oviro.ru</li>
  </ul>
  <ul class="e_contacts w">
    <li>Заказать обратный звонок</li>
    <li>Пн-Вс: 8:00-20:00</li>
  </ul>
  <div class="search">
    <input type="submit" value="" />
    <input type="text" />
  </div>
  <div class="shopping">
    <label>Моя корзина:</label>
    <p>
      Товаров <a href="">2</a>, сумма <a href="">25 000</a>
      <br />
      В сравнении <a href="">0</a> товаров
    </p>
  </div>
</header><aside>
  <div class='b_rst'>
  <img alt='' src='i/rst.png'>
  Весь товар сертифицирован
</div>  <div class='b_banner'>
  <a href=''>
    <img alt='' src='i/banner.png'>
  </a>
</div>  <div class='b_ltl_news'>
  <label>Новости:</label>
  <ul>
    <li>
      <img alt='' src='i/ltl_news_el.png'>
<div class='data'>
  <p class='date'>15.02.2013</p>
  <h5>
    <a href=''>Nokia Lumia 520  — молодежная и доступная</a>
  </h5>
  <p>При знакомстве со cмартфоном сразу становится понятно, что ...</p>
</div>    </li>
    <li>
      <img alt='' src='i/ltl_news_el.png'>
<div class='data'>
  <p class='date'>15.02.2013</p>
  <h5>
    <a href=''>Nokia Lumia 520  — молодежная и доступная</a>
  </h5>
  <p>При знакомстве со cмартфоном сразу становится понятно, что ...</p>
</div>    </li>
    <li>
      <img alt='' src='i/ltl_news_el.png'>
<div class='data'>
  <p class='date'>15.02.2013</p>
  <h5>
    <a href=''>Nokia Lumia 520  — молодежная и доступная</a>
  </h5>
  <p>При знакомстве со cмартфоном сразу становится понятно, что ...</p>
</div>    </li>
  </ul>
  <p class='all'>
    <a href=''>Все новости >></a>
  </p>
</div></aside>
<section class='content'>
  <h2 class='b_label m_image'>
    <img alt='' src='i/market.lbl.png' style='vertical-align: -15px;'>
    Корзина заказов (4)
  </h2>
  <div class="b_market_table">
  <table>
    <tr>
      <th class="image"></th>
      <th class="description"></th>
      <th class="count">Количество</th>
      <th class="price">Цена</th>
      <th class="remove"></th>
    </tr>
    <tr>
  <td class="image"><img src="i/ltl_news_el.png" alt="" /></td>
  <td class="description">
    <h5><a href="">Sony LT26w Xperia acro S White</a></h5>
    <p>
      GSM 900/1800/1900, ... <br />
      66x126x11.9 мм 147 гр. <br />
      моноблок Android 4.0
    </p>
  </td>
  <td data-role="number_control">
    <a href="" class="min" data-role="down"></a>
    <input type="text" disabled value="1" data-max="10" data-min="1" >
    <a href="" class="max" data-role="up"></a>
  </td>
  <td class="price">12 990 р.</td>
  <td class="delete"><a href="" class="delete"></a></td>
</tr>    <tr>
  <td class="image"><img src="i/ltl_news_el.png" alt="" /></td>
  <td class="description">
    <h5><a href="">Sony LT26w Xperia acro S White</a></h5>
    <p>
      GSM 900/1800/1900, ... <br />
      66x126x11.9 мм 147 гр. <br />
      моноблок Android 4.0
    </p>
  </td>
  <td data-role="number_control">
    <a href="" class="min" data-role="down"></a>
    <input type="text" disabled value="1" data-max="10" data-min="1" >
    <a href="" class="max" data-role="up"></a>
  </td>
  <td class="price">12 990 р.</td>
  <td class="delete"><a href="" class="delete"></a></td>
</tr>    <tr>
  <td class="image"><img src="i/ltl_news_el.png" alt="" /></td>
  <td class="description">
    <h5><a href="">Sony LT26w Xperia acro S White</a></h5>
    <p>
      GSM 900/1800/1900, ... <br />
      66x126x11.9 мм 147 гр. <br />
      моноблок Android 4.0
    </p>
  </td>
  <td data-role="number_control">
    <a href="" class="min" data-role="down"></a>
    <input type="text" disabled value="1" data-max="10" data-min="1" >
    <a href="" class="max" data-role="up"></a>
  </td>
  <td class="price">12 990 р.</td>
  <td class="delete"><a href="" class="delete"></a></td>
</tr>  </table>
</div>  <!-- .b_sum.line -->
  <div class='b_sum'>
    <div class='count'>90 930 р.</div>
    <label>Сумма заказа:</label>
    <div class='clear'></div>
    <input src='i/ord.png' type='image'>
    <div class='clear'></div>
    <div class='back'>
      <a href=''>Вернуться в каталог</a>
    </div>
  </div>
  <div class='b_form_order'>
    <div class='label'>Форма оформления заказа</div>
    <div class='field'>
      <label>Заказчик:</label>
      <div class='input'>
        <input name='' type='checkbox'>Физическое лицо</input>
        <input name='' type='checkbox'>Юридическое лицо</input>
      </div>
    </div>
    <div class='field'>
      <label>ФИО:</label>
      <div class='input'>
        <input type='text'>
      </div>
    </div>
    <div class='field'>
      <label>Адрес доставки:</label>
      <div class='input'>
        <textarea></textarea>
      </div>
    </div>
    <div class='field'>
      <label>Email:</label>
      <div class='input'>
        <input type='text'>
      </div>
    </div>
    <div class='field'>
      <label>Ближайшее метро:</label>
      <div class='input'>
        <select>
          <option value=''>Авиамоторная</option>
          <option value=''>Другая</option>
        </select>
      </div>
    </div>
    <div class='field'>
      <label>Желательная дата доставки:</label>
      <div class='input'>
        <input type='text'>
      </div>
    </div>
    <div class='field'>
      <label>Телефон:</label>
      <div class='input'>
        +7 <input type="text" id="phone_mask">
      </div>
    </div>
    <div class='field mb'>
      <label>Комментарии:</label>
      <div class='input'>
        <textarea></textarea>
      </div>
    </div>
    <div class='field'>
      <label>Организация:</label>
      <div class='input'>
        <input type='text'>
      </div>
    </div>
    <div class='field'>
      <label>ИНН/КПП:</label>
      <div class='input'>
        <input type='text'>
      </div>
    </div>
    <div class='field'>
      <label>Юридический адрес:</label>
      <div class='input'>
        <input type='text'>
      </div>
    </div>
    <div class='field'>
      <label>Название банка:</label>
      <div class='input'>
        <input type='text'>
      </div>
    </div>
    <div class='field'>
      <label>БИК банка:</label>
      <div class='input'>
        <input type='text'>
      </div>
    </div>
    <div class='field'>
      <label>Рассчетный счет:</label>
      <div class='input'>
        <input type='text'>
      </div>
    </div>
    <div class='field'>
      <label>Корреспондентский счет:</label>
      <div class='input'>
        <input type='text'>
      </div>
    </div>
    <div class='field btns'>
      <input type='submit' value='Оформить'>
      <p>
        <a href=''>Вернуться в каталог</a>
      </p>
    </div>
  </div>
  <div class='b_buy_with_this'>
    <label>С этими товаром покупают:</label>
    <ul>
      <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>      <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>      <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>      <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>    </ul>
  </div>
</section>
<div class='clear'></div>
<div class="b_popup phone_bg" data-role="popup" id="phone_popup">
  <div class="window" data-role="popup_window">
    <label class="lw">Быстрый заказ:</label>
    <p>Введите Ваш телефон и наш <br /> менеджер свяжется с Вами! </p>
    <form action="">
      <div class="field">
        <label for="">Имя</label>
        <div class="input"><input type="text"></div>
      </div>
      <div class="field">
        <label for="">Телефон</label>
        <div class="input">+7<input type="text" id="phone_mask"></div>
      </div>
      <p class="comment">* Оба поля обязательны к заполнению.</p>
      <div class="btns"><input type="submit" value="Заказать" /></div>
    </form>
  </div>
</div><footer>
  <ul>
    <li><a href="">Связь и телефония</a></li>
    <li><a href="">Мобильные телефоны</a></li>
    <li><a href="">Радиотелефоны</a></li>
    <li><a href="">Радиостанции</a></li>
    <li><a href="">Аксессуары для сотовых телефонов</a></li>
  </ul>
  <ul>
    <li><a href="">Аудио, видео, фото</a></li>
    <li><a href="">Цифровые фотокамеры</a></li>
    <li><a href="">Электронные книги</a></li>
    <li><a href="">Наушники</a></li>
  </ul>
  <ul>
    <li><a href="">Товары для автомобиля</a></li>
    <li><a href="">Автомобильные видеорегистраторы</a></li>
    <li><a href="">GPS-навигаторы</a></li>
    <li><a href="">Радар-детекторы</a></li>
  </ul>
  <ul>
    <li><a href="">Компьютеры</a></li>
    <li><a href="">Планшетные компьютеры</a></li>
    <li><a href="">USB Flash drive</a></li>
    <li><a href="">Жесткие диски</a></li>
  </ul>
  <ul>
    <li><a href="">Доставка и оплата</a></li>
    <li><a href="">Гарантия</a></li>
    <li><a href="">Контакты</a></li>
    <li class="phone">(499) 272 30 33</li>
    <li class="phone">(495) 979 10 90</li>
  </ul>
  <ol class="copyright">
    <li>&copy; 2004—2012 oviro.ru</li>
    <li>e-mail: <a href="">shop@oviro.ru</a></li>
    <li><a href="">Карта сайта</a></li>
  </ol>
</footer>    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/vendor/jquery.maskedinput.min.js"></script>
  <script src="js/vendor/fotorama.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
