news.haml
/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_banner.kit'
  / @include 'kit/b_ltl_news.kit'
      
%section.content 

  %ul.b_bread
    %li <a href=''>Главная</a>
    %li <a href=''>Новости</a>
    %li Fly IQ451 Vista
  
  %h2.b_label.m_image 
    %img{:src => "i/news.png", :alt => "", :style => "vertical-align: -35px;"} 
    Новости

  .b_news 
    %h3 Fly IQ451 Vista
    %p.date 2013-04-11 05:04:22
    
    %p Бренд Fly анонсирует новинку в линейке четырехъядерных смартфонов - мощный IQ451 Vista. В смартфоне продумано все, от дизайна, до «железной начинки». Высокая производительность обеспечивается четырёхъядерным процессором с частотой каждого ядра 1,2 ГГц, порадует пользователя и обновленный интерфейс от ОС Android 4.1 Jelly Bean. Вдобавок к мощному процессору флагманский аппарат оснащен 5” HD-дисплеем, идеальным для видео высокой четкости, основной камерой 8 Мпикс и фронтальной 2 Мпикс. Модель будет доступна в марте по рекомендованной цене 12990 рублей. 

    %h5 Дизайн и габариты
    %p Дизайн смартфона никого не оставит равнодушным! Не смотря на большую диагональ экрана, аппарат не выглядит громоздким. Дисплей с первого взгляда поражает ярким, четким и контрастным изображением. Толщина Fly IQ451 Vista составляет всего лишь 10,7 мм, а вес чуть более 150 г. Благодаря оптимальным габаритам и качественным материалам смартфон хорошо лежит в руке и удобен в повседневном использовании. 

    %img{:src => "i/review.png", :alt => ""} 

    %h5 Четырёхъядерный процессор 1,2 ГГц
    Новый смартфон от Fly построен на новой четырехъядерной платформе MTK6589 (частота каждого ядра 1,2 ГГц) и графическим процессором PowerVR™ SGX Series5 XT. Аппарат превосходно справляется с любыми поставленными задачами и обеспечивает впечатляющее быстродействие. По версии мобильного теста Antutu Benchmark устройство набирает больше 12500 баллов. Идеальным дополнением к столь мощному процессору будет служить оперативная память объемом 1 Гб, что отлично сказывается на многозадачности, а встроенную флеш-память объемом 4 Гб пользователь может расширить с помощью карт памяти microSDHC (до 32 Гб). Благодаря столь мощной начинке Fly IQ451 Vista практически не имеет аналогов в своем ценовом диапазоне. 

    %h5 Android 4.1 Jelly Bean
    %p Смартфон Fly IQ451 Vista работает под управлением мобильной операционной системы Android 4.1 Jelly Bean. Новая версия платформы отличается значительным ускорением интерфейса: увеличилась скорость отклика, плавность прокрутки и анимаций. 

    %iframe{:src => "http://www.youtube.com/embed/2lQAqmz4kfM", :frameborder => "0", :allowfullscreen => true, :width => 710, :height => 533} 

    %h5 5-дюймовый IPS-дисплей
    %p Fly IQ451 Vista оснащен 5” HD-дисплеем с разрешением 1280x720 пикселей. Экран выполнен с использованием технологии IPS, обеспечивающей широкие углы обзора и большую глубину цветопередачи. Благодаря размерам и высокому разрешению пользователи могут работать с офисными документами и просматривать веб-страницы без необходимости скроллинга и перемещения по экрану, а также полноценно использовать мультимедийные возможности смартфона. 

    %h5 Беспроводные модули Bluetooth, Wi-Fi, 3G, GPS
    %p Fly IQ451 Vista поддерживает высокоскоростные стандарты подключения к сети Интернет - 3G/HSDPA+ и Wi-Fi. Модуль Bluetooth 4.0 обеспечивает беспроводную связь с другими устройствами, а модуль GPS – полноценные навигационные возможности. 

    %h5 Мультимедиа
    %p Fly IQ451 Vista снабжен двумя модулями камер: основным - на 8 Мпикс с автофокусом (фото с максимальным разрешением 3264х2448 пикс.) и фронтальным – на 2 Мпикс. Основная камера оснащена BSI сенсором, позволяющим достичь высокого качества изображения при низком уровне освещения. Запись видео производится в формате FullHD с разрешением 1920x1080 пикселей. 

    %p Музыкальный плеер Fly IQ451 Vista поддерживает возможность создания плейлистов. Наличие универсального 3,5 мм разъема позволит подключить собственные наушники. Имеется FM-тюнер. 

    %p Fly IQ451 Vista оснащен широким набором встроенных приложений для работы и развлечений: приложения для навигации, клиенты для общения в популярных социальных сетях и блогах, приложение SPB TV с возможностью просмотра телеканалов в прямом эфире и видео по запросу через Интернет, интернет-кинотеатр ivi.ru, приложение для удобного учета ежедневных расходов Coin Keeper, сервис для моментального вызова такси inTaxi и сервис интернет-банкинга uBank. 

    %p Список имеющихся в смартфоне приложений всегда можно расширить с помощью магазина приложений. 

    %p Фото и спецификации смартфона доступны по ссылке: http://www.fly-phone.ru/devices/smartphones/vista/


.clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'

news.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta content="width=device-width" name="viewport">
  <link href="application.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>
<body>
  <div class="bg">
    <div class="wrapper"><header>
  <a href="" class="logo"></a>
  <ul class="links">
    <li><a href="">Доставка и оплата</a></li>
    <li><a href="">Гарантия</a></li>
    <li><a href="">Контакты</a></li>
  </ul>
  <ul class="phones">
    <li><small>(499)</small> 272 30 33</li>
    <li><small>(495)</small> 979 10 90</li>
  </ul>
  <ul class="e_contacts">
    <li>oviro.support</li>
    <li>586 213 656</li>
    <li>phone@oviro.ru</li>
  </ul>
  <ul class="e_contacts w">
    <li>Заказать обратный звонок</li>
    <li>Пн-Вс: 8:00-20:00</li>
  </ul>
  <div class="search">
    <input type="submit" value="" />
    <input type="text" />
  </div>
  <div class="shopping">
    <label>Моя корзина:</label>
    <p>
      Товаров <a href="">2</a>, сумма <a href="">25 000</a>
      <br />
      В сравнении <a href="">0</a> товаров
    </p>
  </div>
</header><aside>
  <div class='b_rst'>
  <img alt='' src='i/rst.png'>
  Весь товар сертифицирован
</div>  <div class='b_banner'>
  <a href=''>
    <img alt='' src='i/banner.png'>
  </a>
</div>  <div class='b_ltl_news'>
  <label>Новости:</label>
  <ul>
    <li>
      <img alt='' src='i/ltl_news_el.png'>
<div class='data'>
  <p class='date'>15.02.2013</p>
  <h5>
    <a href=''>Nokia Lumia 520  — молодежная и доступная</a>
  </h5>
  <p>При знакомстве со cмартфоном сразу становится понятно, что ...</p>
</div>    </li>
    <li>
      <img alt='' src='i/ltl_news_el.png'>
<div class='data'>
  <p class='date'>15.02.2013</p>
  <h5>
    <a href=''>Nokia Lumia 520  — молодежная и доступная</a>
  </h5>
  <p>При знакомстве со cмартфоном сразу становится понятно, что ...</p>
</div>    </li>
    <li>
      <img alt='' src='i/ltl_news_el.png'>
<div class='data'>
  <p class='date'>15.02.2013</p>
  <h5>
    <a href=''>Nokia Lumia 520  — молодежная и доступная</a>
  </h5>
  <p>При знакомстве со cмартфоном сразу становится понятно, что ...</p>
</div>    </li>
  </ul>
  <p class='all'>
    <a href=''>Все новости >></a>
  </p>
</div></aside>
<section class='content'>
  <ul class='b_bread'>
    <li><a href=''>Главная</a></li>
    <li><a href=''>Новости</a></li>
    <li>Fly IQ451 Vista</li>
  </ul>
  <h2 class='b_label m_image'>
    <img alt='' src='i/news.png' style='vertical-align: -35px;'>
    Новости
  </h2>
  <div class='b_news'>
    <h3>Fly IQ451 Vista</h3>
    <p class='date'>2013-04-11 05:04:22</p>
    <p>Бренд Fly анонсирует новинку в линейке четырехъядерных смартфонов - мощный IQ451 Vista. В смартфоне продумано все, от дизайна, до «железной начинки». Высокая производительность обеспечивается четырёхъядерным процессором с частотой каждого ядра 1,2 ГГц, порадует пользователя и обновленный интерфейс от ОС Android 4.1 Jelly Bean. Вдобавок к мощному процессору флагманский аппарат оснащен 5” HD-дисплеем, идеальным для видео высокой четкости, основной камерой 8 Мпикс и фронтальной 2 Мпикс. Модель будет доступна в марте по рекомендованной цене 12990 рублей.</p>
    <h5>Дизайн и габариты</h5>
    <p>Дизайн смартфона никого не оставит равнодушным! Не смотря на большую диагональ экрана, аппарат не выглядит громоздким. Дисплей с первого взгляда поражает ярким, четким и контрастным изображением. Толщина Fly IQ451 Vista составляет всего лишь 10,7 мм, а вес чуть более 150 г. Благодаря оптимальным габаритам и качественным материалам смартфон хорошо лежит в руке и удобен в повседневном использовании.</p>
    <img alt='' src='i/review.png'>
    <h5>Четырёхъядерный процессор 1,2 ГГц</h5>
    Новый смартфон от Fly построен на новой четырехъядерной платформе MTK6589 (частота каждого ядра 1,2 ГГц) и графическим процессором PowerVR™ SGX Series5 XT. Аппарат превосходно справляется с любыми поставленными задачами и обеспечивает впечатляющее быстродействие. По версии мобильного теста Antutu Benchmark устройство набирает больше 12500 баллов. Идеальным дополнением к столь мощному процессору будет служить оперативная память объемом 1 Гб, что отлично сказывается на многозадачности, а встроенную флеш-память объемом 4 Гб пользователь может расширить с помощью карт памяти microSDHC (до 32 Гб). Благодаря столь мощной начинке Fly IQ451 Vista практически не имеет аналогов в своем ценовом диапазоне.
    <h5>Android 4.1 Jelly Bean</h5>
    <p>Смартфон Fly IQ451 Vista работает под управлением мобильной операционной системы Android 4.1 Jelly Bean. Новая версия платформы отличается значительным ускорением интерфейса: увеличилась скорость отклика, плавность прокрутки и анимаций.</p>
    <iframe allowfullscreen frameborder='0' height='533' src='http://www.youtube.com/embed/2lQAqmz4kfM' width='710'></iframe>
    <h5>5-дюймовый IPS-дисплей</h5>
    <p>Fly IQ451 Vista оснащен 5” HD-дисплеем с разрешением 1280x720 пикселей. Экран выполнен с использованием технологии IPS, обеспечивающей широкие углы обзора и большую глубину цветопередачи. Благодаря размерам и высокому разрешению пользователи могут работать с офисными документами и просматривать веб-страницы без необходимости скроллинга и перемещения по экрану, а также полноценно использовать мультимедийные возможности смартфона.</p>
    <h5>Беспроводные модули Bluetooth, Wi-Fi, 3G, GPS</h5>
    <p>Fly IQ451 Vista поддерживает высокоскоростные стандарты подключения к сети Интернет - 3G/HSDPA+ и Wi-Fi. Модуль Bluetooth 4.0 обеспечивает беспроводную связь с другими устройствами, а модуль GPS – полноценные навигационные возможности.</p>
    <h5>Мультимедиа</h5>
    <p>Fly IQ451 Vista снабжен двумя модулями камер: основным - на 8 Мпикс с автофокусом (фото с максимальным разрешением 3264х2448 пикс.) и фронтальным – на 2 Мпикс. Основная камера оснащена BSI сенсором, позволяющим достичь высокого качества изображения при низком уровне освещения. Запись видео производится в формате FullHD с разрешением 1920x1080 пикселей.</p>
    <p>Музыкальный плеер Fly IQ451 Vista поддерживает возможность создания плейлистов. Наличие универсального 3,5 мм разъема позволит подключить собственные наушники. Имеется FM-тюнер.</p>
    <p>Fly IQ451 Vista оснащен широким набором встроенных приложений для работы и развлечений: приложения для навигации, клиенты для общения в популярных социальных сетях и блогах, приложение SPB TV с возможностью просмотра телеканалов в прямом эфире и видео по запросу через Интернет, интернет-кинотеатр ivi.ru, приложение для удобного учета ежедневных расходов Coin Keeper, сервис для моментального вызова такси inTaxi и сервис интернет-банкинга uBank.</p>
    <p>Список имеющихся в смартфоне приложений всегда можно расширить с помощью магазина приложений.</p>
    <p>Фото и спецификации смартфона доступны по ссылке: http://www.fly-phone.ru/devices/smartphones/vista/</p>
  </div>
</section>
<div class='clear'></div>
<footer>
  <ul>
    <li><a href="">Связь и телефония</a></li>
    <li><a href="">Мобильные телефоны</a></li>
    <li><a href="">Радиотелефоны</a></li>
    <li><a href="">Радиостанции</a></li>
    <li><a href="">Аксессуары для сотовых телефонов</a></li>
  </ul>
  <ul>
    <li><a href="">Аудио, видео, фото</a></li>
    <li><a href="">Цифровые фотокамеры</a></li>
    <li><a href="">Электронные книги</a></li>
    <li><a href="">Наушники</a></li>
  </ul>
  <ul>
    <li><a href="">Товары для автомобиля</a></li>
    <li><a href="">Автомобильные видеорегистраторы</a></li>
    <li><a href="">GPS-навигаторы</a></li>
    <li><a href="">Радар-детекторы</a></li>
  </ul>
  <ul>
    <li><a href="">Компьютеры</a></li>
    <li><a href="">Планшетные компьютеры</a></li>
    <li><a href="">USB Flash drive</a></li>
    <li><a href="">Жесткие диски</a></li>
  </ul>
  <ul>
    <li><a href="">Доставка и оплата</a></li>
    <li><a href="">Гарантия</a></li>
    <li><a href="">Контакты</a></li>
    <li class="phone">(499) 272 30 33</li>
    <li class="phone">(495) 979 10 90</li>
  </ul>
  <ol class="copyright">
    <li>&copy; 2004—2012 oviro.ru</li>
    <li>e-mail: <a href="">shop@oviro.ru</a></li>
    <li><a href="">Карта сайта</a></li>
  </ol>
</footer>    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/vendor/jquery.maskedinput.min.js"></script>
  <script src="js/vendor/fotorama.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
