show.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta content="width=device-width" name="viewport">
  <link href="application.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>
<body>
  <div class="bg">
    <div class="wrapper"><header>
  <a href="" class="logo"></a>
  <ul class="links">
    <li><a href="">Доставка и оплата</a></li>
    <li><a href="">Гарантия</a></li>
    <li><a href="">Контакты</a></li>
  </ul>
  <ul class="phones">
    <li><small>(499)</small> 272 30 33</li>
    <li><small>(495)</small> 979 10 90</li>
  </ul>
  <ul class="e_contacts">
    <li>oviro.support</li>
    <li>586 213 656</li>
    <li>phone@oviro.ru</li>
  </ul>
  <ul class="e_contacts w">
    <li>Заказать обратный звонок</li>
    <li>Пн-Вс: 8:00-20:00</li>
  </ul>
  <div class="search">
    <input type="submit" value="" />
    <input type="text" />
  </div>
  <div class="shopping">
    <label>Моя корзина:</label>
    <p>
      Товаров <a href="">2</a>, сумма <a href="">25 000</a>
      <br />
      В сравнении <a href="">0</a> товаров
    </p>
  </div>
</header><aside>
  <div class='b_rst'>
  <img alt='' src='i/rst.png'>
  Весь товар сертифицирован
</div>  <div class='b_banner'>
  <a href=''>
    <img alt='' src='i/banner.png'>
  </a>
</div>  <div class='b_ltl_news'>
  <label>Новости:</label>
  <ul>
    <li>
      <img alt='' src='i/ltl_news_el.png'>
<div class='data'>
  <p class='date'>15.02.2013</p>
  <h5>
    <a href=''>Nokia Lumia 520  — молодежная и доступная</a>
  </h5>
  <p>При знакомстве со cмартфоном сразу становится понятно, что ...</p>
</div>    </li>
    <li>
      <img alt='' src='i/ltl_news_el.png'>
<div class='data'>
  <p class='date'>15.02.2013</p>
  <h5>
    <a href=''>Nokia Lumia 520  — молодежная и доступная</a>
  </h5>
  <p>При знакомстве со cмартфоном сразу становится понятно, что ...</p>
</div>    </li>
    <li>
      <img alt='' src='i/ltl_news_el.png'>
<div class='data'>
  <p class='date'>15.02.2013</p>
  <h5>
    <a href=''>Nokia Lumia 520  — молодежная и доступная</a>
  </h5>
  <p>При знакомстве со cмартфоном сразу становится понятно, что ...</p>
</div>    </li>
  </ul>
  <p class='all'>
    <a href=''>Все новости >></a>
  </p>
</div></aside>
<section class='content'>
  <ul class='b_bread'>
    <li><a href=''>Главная</a></li>
    <li><a href=''>Связь и телефония</a></li>
    <li><a href=''>Мобильные телефоны</a></li>
    <li><a href=''>Samsung</a></li>
    <li>Samsung I8750 Ativ S</li>
  </ul>
  <h2 class='b_label m_show'>Смартфон Samsung I8750 Ativ S</h2>
  <div class='b_tag'>#12344567</div>
  <div class='b_show'>
    <div class='fotorama' data-height='450' data-width='340'>
      <a href='i/show_01.png'>
        <img src='i/show_02.png'>
      </a>
      <a href='i/show_03.png'>
        <img src='i/show_03.png'>
      </a>
      <a href='i/show_04.png'>
        <img src='i/show_04.png'>
      </a>
      <a href='i/show_05.png'>
        <img src='i/show_05.png'>
      </a>
      <a href='i/show_06.png'>
        <img src='i/show_06.png'>
      </a>
    </div>
    <div class='data'>
      <div class='price'>
        <span>13 990 р.</span>
        12 990 р.
      </div>
      <div class='tg warranty'>
        Гарантия 1 год
      </div>
      <div class='tg rst'>
        Весь товар сертифицирован
      </div>
      <div class='modif'>
        <label>Цвета и модификации:</label>
        <div class='wrap'>
          <a class='l' href=''></a>
          <a class='r' href=''></a>
          <ul>
            <li>
              <img alt='' src='i/car_01.png'>
            </li>
            <li>
              <img alt='' src='i/car_02.png'>
            </li>
            <li>
              <img alt='' src='i/car_03.png'>
            </li>
            <li>
              <img alt='' src='i/car_04.png'>
            </li>
            <li>
              <img alt='' src='i/car_01.png'>
            </li>
            <li>
              <img alt='' src='i/car_02.png'>
            </li>
          </ul>
        </div>
      </div>
      <div class='delivery'>
        <p>Способы доставки:</p>
        <p>Курьером, бесплатно:  завтра <i></i></p>
        <p>Самовывоз, бесплатно:  28 июня <i></i></p>
      </div>
      <div class='bell'>
        <span></span>
        <a data-role='popup_open' data-target='#phone_popup' href=''>Заказать обратный звонок</a>
      </div>
      <div class='clear'></div>
      <div class='compare'>
        <a href=''>Добавить в сравнение</a>
      </div>
      <div class='btns'>
        <a class='btn' href=''>В корзину!</a>
        <div class='one_click'>
          <span></span>
          <a href=''>Купить за один клик</a>
        </div>
      </div>
      <div class='back'>
        <a href=''><< Вернуться в каталог</a>
      </div>
    </div>
    <div class='clear'></div>
  </div>
  <div class='b_show_tabs'>
    <ul class='tabs'>
      <li class='active'>
        <a href=''>Описание</a>
      </li>
      <li>
        <a href=''>Технические характеристики</a>
      </li>
      <li>
        <a href=''>Аксессуары (35)</a>
      </li>
      <li>
        <a href=''>Обзор</a>
      </li>
    </ul>
    <div class='contents'>
      <div class='content active'>
        <p>Смартфон Samsung I8750 Ativ S — это современное устройство, способное соединить пользователя с Интернетом массой способов, снять отличные фотографии и записать видео, помочь в навигации по картам. В смартфоне есть все, что может понадобиться в течение дня, он позволит грамотно распланировать время и удобно структурировать список контактов.</p>
        <ol>
          <li><i></i> Повсеместный доступ к связи. Смартфон Samsung I8750 Ativ S обеспечит подключение к Интернету посредством стандартного GPRS, скоростного 3G, адаптера Wi-Fi – к услугам пользователя широкий выбор актуальных для каждой ситуации вариантов. Модуль Bluetooth позволит соединиться с другими устройствами в радиусе 100 метров.</li>
          <li><i></i> Удобная GPS-навигация. Встроенный датчик определения местоположения позволяет работать с картами. Навигатором удобно пользоваться в путешествиях и в поездках на автомобиле.</li>
          <li><i></i> Легкий компактный корпус. Оборудованный всевозможными интерфейсами и дополнительными датчиками, смартфон Samsung I8750 Ativ S весит чуть больше 100 граммов!</li>
        </ol>
      </div>
      <div class='content'>
        <div class='col'>
          <table class="b_tech_table">
  <tr>
    <th colspan="2">Устройство</th>
  </tr>
  <tr>
    <td>Смартфон:</td>
    <td>Да</td>
  </tr>
  <tr>
    <th colspan="2">Система</th>
  </tr>
  <tr>
    <td>Платформа:</td>
    <td>Android</td>
  </tr>
  <tr>
    <td>Операционная система:</td>
    <td>Android 4.0</td>
  </tr>
  <tr>
    <td>Процессор:</td>
    <td>Qualcomm Snapdragon</td>
  </tr>
  <tr>
    <td>Частота процессора:</td>
    <td>1.5 ГГц</td>
  </tr>
  <tr>
    <td>Количество ядер:</td>
    <td>2</td>
  </tr>
  <tr>
    <th colspan="2">Сеть</th>
  </tr>
  <tr>
    <td>Диапазоны GSM:</td>
    <td>900, 1800, 1900</td>
  </tr>
  <tr>
    <td>Технология передачи данных:</td>
    <td>HSUPA, HSPA, HSDPA, GPRS, EDGE</td>
  </tr>
  <tr>
    <td>Поддержка 3G (UMTS):</td>
    <td>Да</td>
  </tr>
  <tr>
    <td>Диапазон частот 3G (UMTS):</td>
    <td>2100</td>
  </tr>
  <tr>
    <th colspan="2">Вызовы</th>
  </tr>
  <tr>
    <td>MP3 на звонок:</td>
    <td>Да</td>
  </tr>
  <tr>
    <td>Полифонические мелодии:</td>
    <td>Да</td>
  </tr>
  <tr>
    <td>Виброзвонок:</td>
    <td>Да</td>
  </tr>
  <tr>
    <th colspan="2">Интернет</th>
  </tr>
  <tr>
    <td>Интернет браузер:</td>
    <td>Да</td>
  </tr>
  <tr>
    <td>Поддержка HTML:</td>
    <td>Да</td>
  </tr>
  <tr>
    <td>Поддержка Flash:</td>
    <td>Да</td>
  </tr>
</table>        </div>
        <div class='col'>
          <table class="b_tech_table">
  <tr>
    <th colspan="2">Устройство</th>
  </tr>
  <tr>
    <td>Смартфон:</td>
    <td>Да</td>
  </tr>
  <tr>
    <th colspan="2">Система</th>
  </tr>
  <tr>
    <td>Платформа:</td>
    <td>Android</td>
  </tr>
  <tr>
    <td>Операционная система:</td>
    <td>Android 4.0</td>
  </tr>
  <tr>
    <td>Процессор:</td>
    <td>Qualcomm Snapdragon</td>
  </tr>
  <tr>
    <td>Частота процессора:</td>
    <td>1.5 ГГц</td>
  </tr>
  <tr>
    <td>Количество ядер:</td>
    <td>2</td>
  </tr>
  <tr>
    <th colspan="2">Сеть</th>
  </tr>
  <tr>
    <td>Диапазоны GSM:</td>
    <td>900, 1800, 1900</td>
  </tr>
  <tr>
    <td>Технология передачи данных:</td>
    <td>HSUPA, HSPA, HSDPA, GPRS, EDGE</td>
  </tr>
  <tr>
    <td>Поддержка 3G (UMTS):</td>
    <td>Да</td>
  </tr>
  <tr>
    <td>Диапазон частот 3G (UMTS):</td>
    <td>2100</td>
  </tr>
  <tr>
    <th colspan="2">Вызовы</th>
  </tr>
  <tr>
    <td>MP3 на звонок:</td>
    <td>Да</td>
  </tr>
  <tr>
    <td>Полифонические мелодии:</td>
    <td>Да</td>
  </tr>
  <tr>
    <td>Виброзвонок:</td>
    <td>Да</td>
  </tr>
  <tr>
    <th colspan="2">Интернет</th>
  </tr>
  <tr>
    <td>Интернет браузер:</td>
    <td>Да</td>
  </tr>
  <tr>
    <td>Поддержка HTML:</td>
    <td>Да</td>
  </tr>
  <tr>
    <td>Поддержка Flash:</td>
    <td>Да</td>
  </tr>
</table>        </div>
      </div>
      <div class='content'>
        <div class='b_buy_with_this'>
          <ul>
            <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>            <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>            <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>            <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>            <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>            <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>            <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>            <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>          </ul>
          <p class='all'>
            <a href=''>Еще аксессуары</a>
          </p>
        </div>
      </div>
      <div class='content'>
        <div class='review'>
          <p>Компания Sony анонсировала HD смартфон с влагозащищённым корпусом, что позволяет использовать его в достаточно «мокрых» условиях. Корпус может защитить его от влаги и пыли согласно требованиям международного стандарта IP55 и IP57.</p>
          <p>Устройство работает под управлением операционной системы Android 4.0 (Ice Cream Sandwich) и будет поставляться в трёх цветах — белый, черный и розовый.</p>
          <img alt='' src='i/review.png'>
          <p>Что касается начинки Sony Xperia Acro S, то он оснащен сенсорным дисплеем HD Reality Display с разрешением 1280 x 720 точек с диагональю 4,3. Так-же экран поддерживает технологию Mobile BRAVIA Engine. Основная камера смартфона 12,1 Мп с авто фокусом, светодиодной вспышкой и поддержкой режима быстрой съёмки. Она позволяет снимать видео с Full HD (1080p) разрешением. Фронтальная же камера выделяется на фоне остальных андроидфонов и имеет разрешение 1,3 Мп (720p), что весьма не мало. Закалённое защитное стекло, устойчивое к появлению царапин, из минерального стекла может распознать даже прикосновения мокрыми пальцами рук.</p>
          <p>Процессор двухядерный с тактовой частотой 1,5 ГГц, встроено 1 Гбайт оперативной памяти и 16 Гбайт флеш памяти. Для расширения возможностей предусмотрен слот для карты памяти microSD до 32 Гбайт, GPS (aGPS)/ГЛОНАСС приёмник, модуль Wi-Fi, Bluetooth и заявлена поддержка технологий DLNA, NFC для беспроводной передачи данных. На корпусе есть разъемы HDMI, microUSB, 3,5 мм аудио разъем для наушников.</p>
          <p>В смартфон установлена довольно ёмкая батарея 1910 мАч которая может обеспечить до 7 часов автономной работы в режиме разговора в сети UMTS и до 310 часов в режиме ожидания. Что касается размеров устройства, они составляют 126 x 66 x 11,9 мм и весит он 147 грамм.</p>
          <p>Подводная съемка</p>
          <iframe allowfullscreen frameborder='0' height='533' src='http://www.youtube.com/embed/2lQAqmz4kfM' width='710'></iframe>
          <p>Пример подводной видеосъемки с презентации. На 4 секунде видео аппарат погружен в аквариум с водой.</p>
          <p>Цена Sony Xperia Acro S будет известна ближе к дате начала продаж, о чем вы сможете узнать на нашем сайте с появлением данной информации. Купить Sony Xperia Acro S с доставкой по Москве, Питеру (Санкт-Петербургу), всем регионам России, а так же в Киев, Одессу и другим городам Украины, можно будет после появления его в продаже в третьем квартале 2012 года.</p>
        </div>
      </div>
    </div>
  </div>
  <div class='b_buy_with_this'>
    <label>С этими товаром покупают:</label>
    <ul>
      <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>      <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>      <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>      <li>
  <img src='i/with.png'>
  <p class='name'>
    <a href=''>Флип-кейс Ibox Premium для Samsung ATiVe S (черный)</a>
  </p>
  <div class='btns'>
    500 р.
    <a class='btn' href=''><span></span></a>
  </div>
</li>    </ul>
  </div>
</section>
<div class='clear'></div>
<div class="b_popup phone_bg" data-role="popup" id="phone_popup">
  <div class="window" data-role="popup_window">
    <label class="lw">Быстрый заказ:</label>
    <p>Введите Ваш телефон и наш <br /> менеджер свяжется с Вами! </p>
    <form action="">
      <div class="field">
        <label for="">Имя</label>
        <div class="input"><input type="text"></div>
      </div>
      <div class="field">
        <label for="">Телефон</label>
        <div class="input">+7<input type="text" id="phone_mask"></div>
      </div>
      <p class="comment">* Оба поля обязательны к заполнению.</p>
      <div class="btns"><input type="submit" value="Заказать" /></div>
    </form>
  </div>
</div><footer>
  <ul>
    <li><a href="">Связь и телефония</a></li>
    <li><a href="">Мобильные телефоны</a></li>
    <li><a href="">Радиотелефоны</a></li>
    <li><a href="">Радиостанции</a></li>
    <li><a href="">Аксессуары для сотовых телефонов</a></li>
  </ul>
  <ul>
    <li><a href="">Аудио, видео, фото</a></li>
    <li><a href="">Цифровые фотокамеры</a></li>
    <li><a href="">Электронные книги</a></li>
    <li><a href="">Наушники</a></li>
  </ul>
  <ul>
    <li><a href="">Товары для автомобиля</a></li>
    <li><a href="">Автомобильные видеорегистраторы</a></li>
    <li><a href="">GPS-навигаторы</a></li>
    <li><a href="">Радар-детекторы</a></li>
  </ul>
  <ul>
    <li><a href="">Компьютеры</a></li>
    <li><a href="">Планшетные компьютеры</a></li>
    <li><a href="">USB Flash drive</a></li>
    <li><a href="">Жесткие диски</a></li>
  </ul>
  <ul>
    <li><a href="">Доставка и оплата</a></li>
    <li><a href="">Гарантия</a></li>
    <li><a href="">Контакты</a></li>
    <li class="phone">(499) 272 30 33</li>
    <li class="phone">(495) 979 10 90</li>
  </ul>
  <ol class="copyright">
    <li>&copy; 2004—2012 oviro.ru</li>
    <li>e-mail: <a href="">shop@oviro.ru</a></li>
    <li><a href="">Карта сайта</a></li>
  </ol>
</footer>    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/vendor/jquery.maskedinput.min.js"></script>
  <script src="js/vendor/fotorama.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>

show.haml
/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_banner.kit'
  / @include 'kit/b_ltl_news.kit'
      
%section.content 

  %ul.b_bread
    %li <a href=''>Главная</a>
    %li <a href=''>Связь и телефония</a>
    %li <a href=''>Мобильные телефоны</a>
    %li <a href=''>Samsung</a>
    %li Samsung I8750 Ativ S

  %h2.b_label.m_show Смартфон Samsung I8750 Ativ S

  .b_tag #12344567

  .b_show
    .fotorama{:data => {:width => 340, :height => 450}}
      %a{:href => "i/show_01.png"} 
        %img{:src => "i/show_02.png"} 
      %a{:href => "i/show_03.png"} 
        %img{:src => "i/show_03.png"} 
      %a{:href => "i/show_04.png"} 
        %img{:src => "i/show_04.png"} 
      %a{:href => "i/show_05.png"} 
        %img{:src => "i/show_05.png"} 
      %a{:href => "i/show_06.png"} 
        %img{:src => "i/show_06.png"} 
    .data 
      .price
        %span 13 990 р.
        12 990 р.
      .tg.warranty
        Гарантия 1 год
      .tg.rst 
        Весь товар сертифицирован
      .modif 
        %label Цвета и модификации:
        .wrap 
          %a.l{:href => ""} 
          %a.r{:href => ""} 
          %ul 
            %li 
              %img{:src => "i/car_01.png", :alt => ""} 
            %li 
              %img{:src => "i/car_02.png", :alt => ""} 
            %li 
              %img{:src => "i/car_03.png", :alt => ""} 
            %li 
              %img{:src => "i/car_04.png", :alt => ""} 
            %li 
              %img{:src => "i/car_01.png", :alt => ""}
            %li 
              %img{:src => "i/car_02.png", :alt => ""} 
      .delivery 
        %p Способы доставки:
        %p Курьером, бесплатно:  завтра <i></i>
        %p Самовывоз, бесплатно:  28 июня <i></i>
      .bell
        %span 
        %a{:href => "", :data => {:role => "popup_open", :target => "#phone_popup"}} Заказать обратный звонок
      .clear
      .compare 
        %a{:href => ""} Добавить в сравнение
      .btns 
        %a.btn{:href => ""} В корзину!
        .one_click 
          %span 
          %a{:href => ""} Купить за один клик
      .back
        %a{:href => ""} << Вернуться в каталог
    .clear

  .b_show_tabs 
    %ul.tabs 
      %li.active 
        %a{:href => ""} Описание
      %li 
        %a{:href => ""} Технические характеристики
      %li 
        %a{:href => ""} Аксессуары (35)
      %li 
        %a{:href => ""} Обзор
    .contents
      .content.active 
        %p Смартфон Samsung I8750 Ativ S — это современное устройство, способное соединить пользователя с Интернетом массой способов, снять отличные фотографии и записать видео, помочь в навигации по картам. В смартфоне есть все, что может понадобиться в течение дня, он позволит грамотно распланировать время и удобно структурировать список контактов.  
        %ol 
          %li <i></i> Повсеместный доступ к связи. Смартфон Samsung I8750 Ativ S обеспечит подключение к Интернету посредством стандартного GPRS, скоростного 3G, адаптера Wi-Fi – к услугам пользователя широкий выбор актуальных для каждой ситуации вариантов. Модуль Bluetooth позволит соединиться с другими устройствами в радиусе 100 метров. 
          %li <i></i> Удобная GPS-навигация. Встроенный датчик определения местоположения позволяет работать с картами. Навигатором удобно пользоваться в путешествиях и в поездках на автомобиле.  
          %li <i></i> Легкий компактный корпус. Оборудованный всевозможными интерфейсами и дополнительными датчиками, смартфон Samsung I8750 Ativ S весит чуть больше 100 граммов!
      .content 
        .col 
          / @include 'kit/b_tech_table.kit'
        .col 
          / @include 'kit/b_tech_table.kit'
      .content 
        .b_buy_with_this
          %ul 
            / @include 'kit/b_buy_with_this_elem.kit'
            / @include 'kit/b_buy_with_this_elem.kit'
            / @include 'kit/b_buy_with_this_elem.kit'
            / @include 'kit/b_buy_with_this_elem.kit'
            / @include 'kit/b_buy_with_this_elem.kit'
            / @include 'kit/b_buy_with_this_elem.kit'
            / @include 'kit/b_buy_with_this_elem.kit'
            / @include 'kit/b_buy_with_this_elem.kit'
          %p.all 
            %a{:href => ""} Еще аксессуары
      .content 
        .review
          %p Компания Sony анонсировала HD смартфон с влагозащищённым корпусом, что позволяет использовать его в достаточно «мокрых» условиях. Корпус может защитить его от влаги и пыли согласно требованиям международного стандарта IP55 и IP57.
          %p Устройство работает под управлением операционной системы Android 4.0 (Ice Cream Sandwich) и будет поставляться в трёх цветах — белый, черный и розовый.
          %img{:src => "i/review.png", :alt => ""} 
          %p Что касается начинки Sony Xperia Acro S, то он оснащен сенсорным дисплеем HD Reality Display с разрешением 1280 x 720 точек с диагональю 4,3. Так-же экран поддерживает технологию Mobile BRAVIA Engine. Основная камера смартфона 12,1 Мп с авто фокусом, светодиодной вспышкой и поддержкой режима быстрой съёмки. Она позволяет снимать видео с Full HD (1080p) разрешением. Фронтальная же камера выделяется на фоне остальных андроидфонов и имеет разрешение 1,3 Мп (720p), что весьма не мало. Закалённое защитное стекло, устойчивое к появлению царапин, из минерального стекла может распознать даже прикосновения мокрыми пальцами рук.
          %p Процессор двухядерный с тактовой частотой 1,5 ГГц, встроено 1 Гбайт оперативной памяти и 16 Гбайт флеш памяти. Для расширения возможностей предусмотрен слот для карты памяти microSD до 32 Гбайт, GPS (aGPS)/ГЛОНАСС приёмник, модуль Wi-Fi, Bluetooth и заявлена поддержка технологий DLNA, NFC для беспроводной передачи данных. На корпусе есть разъемы HDMI, microUSB, 3,5 мм аудио разъем для наушников.
          %p В смартфон установлена довольно ёмкая батарея 1910 мАч которая может обеспечить до 7 часов автономной работы в режиме разговора в сети UMTS и до 310 часов в режиме ожидания. Что касается размеров устройства, они составляют 126 x 66 x 11,9 мм и весит он 147 грамм.
          %p Подводная съемка
          %iframe{:src => "http://www.youtube.com/embed/2lQAqmz4kfM", :frameborder => "0", :allowfullscreen => true, :width => 710, :height => 533} 
          %p Пример подводной видеосъемки с презентации. На 4 секунде видео аппарат погружен в аквариум с водой.
          %p Цена Sony Xperia Acro S будет известна ближе к дате начала продаж, о чем вы сможете узнать на нашем сайте с появлением данной информации. Купить Sony Xperia Acro S с доставкой по Москве, Питеру (Санкт-Петербургу), всем регионам России, а так же в Киев, Одессу и другим городам Украины, можно будет после появления его в продаже в третьем квартале 2012 года.

  .b_buy_with_this
    %label С этими товаром покупают:
    %ul 
      / @include 'kit/b_buy_with_this_elem.kit'
      / @include 'kit/b_buy_with_this_elem.kit'
      / @include 'kit/b_buy_with_this_elem.kit'
      / @include 'kit/b_buy_with_this_elem.kit'

.clear

/ @include 'kit/b_popup.kit'

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'
