warranty.haml
/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%aside 
  / @include 'kit/b_rst.kit'
  / @include 'kit/b_banner.kit'
  / @include 'kit/b_ltl_news.kit'
      
%section.content 

  %ul.b_bread
    %li <a href=''>Главная</a>
    %li Гарантия

  %h2.b_label.m_image 
    %img{:src => "i/warranty.png", :alt => "", :style => "vertical-align: -35px;"} 
    Гарантия

  .b_index_text.m_delivery.m_warranty
    %p Все товары в интернет-магазине цифровой техники Oviro.ru соответствуют стандартам качества, которые определяются российским законодательством, и сертифицированы для России. Продукция, приобретаемая у нас, подлежит гарантийной поддержке при предоставлении гарантии заводом-производителем. Покупатель может запросить для ознакомления пакет сопроводительных документов на любой товар, приобретаемый в нашем магазине.
    %p В этом разделе Вы найдете перечень авторизованных сервисных центров, в которых осуществляется гарантийное обслуживание товаров определенных марок. При продаже мы обязательно вносим соответствующие отметки в гарантийный талон, что дает в дальнейшем покупателю право в течение гарантийного срока бесплатно обслуживать и ремонтировать технику в авторизованных сервисных центрах в соответствии с условиями гарантийных обязательств завода-изготовителя.
    %p Напоминаем, что гарантийное обслуживание представляет собой бесплатное (безвозмездное) устранение недостатков товара, которые возникли именно по вине производителя. Ремонт по гарантии возможен, если были соблюдены правила эксплуатации (использования) техники, установленные производителем. 
    %p При покупке цифровой техники предоставляется гарантия на 1-5 лет (в зависимости от вида, модели, марки техники).
    %p Товары ненадлежащего качества могут быть возвращены продавцу. Для этого покупатель пишет заявление в свободной форме, обязательно с указанием причины возврата, детально описывает дефекты и их локализацию. Далее покупатель передает заявление в нашу службу поддержки и прилагает к нему фотографию, на которой отображены дефекты. Затем товар сдается в сервис-центр, где производится экспертиза. Срок проведения экспертизы – 30 дней. Если экспертиза выявит недостатки товара, возникшие не по вине покупателя, тогда продавец заменяет товар аналогичным, также возможно возмещение полной стоимости. Сроки и процедура возврата товаров ненадлежащего качества регулируются законодательством РФ. 
    %p Информируем покупателей, что возможен возврат товаров надлежащего качества, в случаях, предусмотренных законодательством РФ. Условиями возврата являются сохранение товарного вида товара, чека или иной документации, подтверждающей факт покупки в нашем магазине. Обращаем внимание, что стоимость доставки в этом случае покупателю не возвращается.
    %blockquote 
      %span.orange Внимание: 
      покупатель при приемке заказа должен осмотреть товар на предмет механических повреждений и проверить работоспособность изделия в присутствии курьера. При наличии видимых дефектов (сколы, царапины, трещины и пр.) техника заменяется аналогичной без проведения экспертизы и без заявления от покупателя. Курьер доставит аналогичный товар в оговоренные сроки (плата за повторную доставку не взимается). 
    %p Если у Вас остались вопросы по гарантийной поддержке, позвоните в Oviro.ru и мы с удовольствием поможем разобраться!

  / @include 'kit/b_services.kit'

.clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'

warranty.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta content="width=device-width" name="viewport">
  <link href="application.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>
<body>
  <div class="bg">
    <div class="wrapper"><header>
  <a href="" class="logo"></a>
  <ul class="links">
    <li><a href="">Доставка и оплата</a></li>
    <li><a href="">Гарантия</a></li>
    <li><a href="">Контакты</a></li>
  </ul>
  <ul class="phones">
    <li><small>(499)</small> 272 30 33</li>
    <li><small>(495)</small> 979 10 90</li>
  </ul>
  <ul class="e_contacts">
    <li>oviro.support</li>
    <li>586 213 656</li>
    <li>phone@oviro.ru</li>
  </ul>
  <ul class="e_contacts w">
    <li>Заказать обратный звонок</li>
    <li>Пн-Вс: 8:00-20:00</li>
  </ul>
  <div class="search">
    <input type="submit" value="" />
    <input type="text" />
  </div>
  <div class="shopping">
    <label>Моя корзина:</label>
    <p>
      Товаров <a href="">2</a>, сумма <a href="">25 000</a>
      <br />
      В сравнении <a href="">0</a> товаров
    </p>
  </div>
</header><aside>
  <div class='b_rst'>
  <img alt='' src='i/rst.png'>
  Весь товар сертифицирован
</div>  <div class='b_banner'>
  <a href=''>
    <img alt='' src='i/banner.png'>
  </a>
</div>  <div class='b_ltl_news'>
  <label>Новости:</label>
  <ul>
    <li>
      <img alt='' src='i/ltl_news_el.png'>
<div class='data'>
  <p class='date'>15.02.2013</p>
  <h5>
    <a href=''>Nokia Lumia 520  — молодежная и доступная</a>
  </h5>
  <p>При знакомстве со cмартфоном сразу становится понятно, что ...</p>
</div>    </li>
    <li>
      <img alt='' src='i/ltl_news_el.png'>
<div class='data'>
  <p class='date'>15.02.2013</p>
  <h5>
    <a href=''>Nokia Lumia 520  — молодежная и доступная</a>
  </h5>
  <p>При знакомстве со cмартфоном сразу становится понятно, что ...</p>
</div>    </li>
    <li>
      <img alt='' src='i/ltl_news_el.png'>
<div class='data'>
  <p class='date'>15.02.2013</p>
  <h5>
    <a href=''>Nokia Lumia 520  — молодежная и доступная</a>
  </h5>
  <p>При знакомстве со cмартфоном сразу становится понятно, что ...</p>
</div>    </li>
  </ul>
  <p class='all'>
    <a href=''>Все новости >></a>
  </p>
</div></aside>
<section class='content'>
  <ul class='b_bread'>
    <li><a href=''>Главная</a></li>
    <li>Гарантия</li>
  </ul>
  <h2 class='b_label m_image'>
    <img alt='' src='i/warranty.png' style='vertical-align: -35px;'>
    Гарантия
  </h2>
  <div class='b_index_text m_delivery m_warranty'>
    <p>Все товары в интернет-магазине цифровой техники Oviro.ru соответствуют стандартам качества, которые определяются российским законодательством, и сертифицированы для России. Продукция, приобретаемая у нас, подлежит гарантийной поддержке при предоставлении гарантии заводом-производителем. Покупатель может запросить для ознакомления пакет сопроводительных документов на любой товар, приобретаемый в нашем магазине.</p>
    <p>В этом разделе Вы найдете перечень авторизованных сервисных центров, в которых осуществляется гарантийное обслуживание товаров определенных марок. При продаже мы обязательно вносим соответствующие отметки в гарантийный талон, что дает в дальнейшем покупателю право в течение гарантийного срока бесплатно обслуживать и ремонтировать технику в авторизованных сервисных центрах в соответствии с условиями гарантийных обязательств завода-изготовителя.</p>
    <p>Напоминаем, что гарантийное обслуживание представляет собой бесплатное (безвозмездное) устранение недостатков товара, которые возникли именно по вине производителя. Ремонт по гарантии возможен, если были соблюдены правила эксплуатации (использования) техники, установленные производителем.</p>
    <p>При покупке цифровой техники предоставляется гарантия на 1-5 лет (в зависимости от вида, модели, марки техники).</p>
    <p>Товары ненадлежащего качества могут быть возвращены продавцу. Для этого покупатель пишет заявление в свободной форме, обязательно с указанием причины возврата, детально описывает дефекты и их локализацию. Далее покупатель передает заявление в нашу службу поддержки и прилагает к нему фотографию, на которой отображены дефекты. Затем товар сдается в сервис-центр, где производится экспертиза. Срок проведения экспертизы – 30 дней. Если экспертиза выявит недостатки товара, возникшие не по вине покупателя, тогда продавец заменяет товар аналогичным, также возможно возмещение полной стоимости. Сроки и процедура возврата товаров ненадлежащего качества регулируются законодательством РФ.</p>
    <p>Информируем покупателей, что возможен возврат товаров надлежащего качества, в случаях, предусмотренных законодательством РФ. Условиями возврата являются сохранение товарного вида товара, чека или иной документации, подтверждающей факт покупки в нашем магазине. Обращаем внимание, что стоимость доставки в этом случае покупателю не возвращается.</p>
    <blockquote>
      <span class='orange'>Внимание:</span>
      покупатель при приемке заказа должен осмотреть товар на предмет механических повреждений и проверить работоспособность изделия в присутствии курьера. При наличии видимых дефектов (сколы, царапины, трещины и пр.) техника заменяется аналогичной без проведения экспертизы и без заявления от покупателя. Курьер доставит аналогичный товар в оговоренные сроки (плата за повторную доставку не взимается).
    </blockquote>
    <p>Если у Вас остались вопросы по гарантийной поддержке, позвоните в Oviro.ru и мы с удовольствием поможем разобраться!</p>
  </div>
  <div class="b_services">
  <h2>Авторизованные сервисные центры:</h2> 
  <ul>
    <li>
      <img src="i/services_01.png" alt="" />
      <div class="data">
        <p class="name">APPLE</p>
        <p>+7 (495) 444 55 55</p>
        <p><a href="">Авторизованные сервисные центры карта</a></p>
      </div>
    </li>
    <li>
      <img src="i/services_02.png" alt="" />
      <div class="data">
        <p class="name">APPLE</p>
        <p>+7 (495) 444 55 55</p>
        <p><a href="">Авторизованные сервисные центры карта</a></p>
      </div>
    </li>
    <div class="clear"></div>
    <li>
      <img src="i/services_03.png" alt="" />
      <div class="data">
        <p class="name">APPLE</p>
        <p>+7 (495) 444 55 55</p>
        <p><a href="">Авторизованные сервисные центры карта</a></p>
      </div>
    </li>
    <li>
      <img src="i/services_04.png" alt="" />
      <div class="data">
        <p class="name">APPLE</p>
        <p>+7 (495) 444 55 55</p>
        <p><a href="">Авторизованные сервисные центры карта</a></p>
      </div>
    </li>
    <div class="clear"></div>
    <li>
      <img src="i/services_01.png" alt="" />
      <div class="data">
        <p class="name">APPLE</p>
        <p>+7 (495) 444 55 55</p>
        <p><a href="">Авторизованные сервисные центры карта</a></p>
      </div>
    </li>
    <li>
      <img src="i/services_02.png" alt="" />
      <div class="data">
        <p class="name">APPLE</p>
        <p>+7 (495) 444 55 55</p>
        <p><a href="">Авторизованные сервисные центры карта</a></p>
      </div>
    </li>
    <div class="clear"></div>
  </ul>
</div></section>
<div class='clear'></div>
<footer>
  <ul>
    <li><a href="">Связь и телефония</a></li>
    <li><a href="">Мобильные телефоны</a></li>
    <li><a href="">Радиотелефоны</a></li>
    <li><a href="">Радиостанции</a></li>
    <li><a href="">Аксессуары для сотовых телефонов</a></li>
  </ul>
  <ul>
    <li><a href="">Аудио, видео, фото</a></li>
    <li><a href="">Цифровые фотокамеры</a></li>
    <li><a href="">Электронные книги</a></li>
    <li><a href="">Наушники</a></li>
  </ul>
  <ul>
    <li><a href="">Товары для автомобиля</a></li>
    <li><a href="">Автомобильные видеорегистраторы</a></li>
    <li><a href="">GPS-навигаторы</a></li>
    <li><a href="">Радар-детекторы</a></li>
  </ul>
  <ul>
    <li><a href="">Компьютеры</a></li>
    <li><a href="">Планшетные компьютеры</a></li>
    <li><a href="">USB Flash drive</a></li>
    <li><a href="">Жесткие диски</a></li>
  </ul>
  <ul>
    <li><a href="">Доставка и оплата</a></li>
    <li><a href="">Гарантия</a></li>
    <li><a href="">Контакты</a></li>
    <li class="phone">(499) 272 30 33</li>
    <li class="phone">(495) 979 10 90</li>
  </ul>
  <ol class="copyright">
    <li>&copy; 2004—2012 oviro.ru</li>
    <li>e-mail: <a href="">shop@oviro.ru</a></li>
    <li><a href="">Карта сайта</a></li>
  </ol>
</footer>    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/vendor/jquery.maskedinput.min.js"></script>
  <script src="js/vendor/fotorama.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
